{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login page</title>
  <link rel="stylesheet" href="{% static 'login.css' %}">
  <img src="{% static 'image/login.jpg' %}" alt="login image">
</head>
<body class="login-body">

  <div class="login-container">
  <h1> LOGIN </h1>
  <form method='POST' action="{% url 'login'%}">
    {% csrf_token %}
    <label for="username"> Username:</label>
    <input type="text" name="username" required><br>
    <label for="password">Password:</label>
    <input type="password" name="password" required><br>
    <button type="submit"> Login </button>
  </form>
  <h4> Don't have an account <a href="{% url 'register_user' %}"> Register here </a></h4>
  </div>
</body>
</html>